// Utility to convert pixels, which are easier to visualize, to rems
@function rem($px) { @return ($px / 16) * 1rem; }

// To override a variable simply define it before importing this file.
// If you don't use SCSS, `inherit` is sometimes used for easier customization
$mt-module-classname: "MarkdownTextarea" !default;
$mt-background: #fff !default;
$mt-gutter: 10 !default;
$mt-border: 1px solid #000 !default;
$mt-toolbar-background: transparent !default;
$mt-toolbar-border-color: rgba(#000, 0.1) !default;
$mt-toolbar-color: lighten(#000, 65%) !default;
$mt-toolbar-height: 32 !default;
$mt-action-background: transparent !default;
$mt-action-border: none !default;
$mt-action-color: inherit !default;
$mt-action-color-active: #000 !default;
$mt-action-color-hover: #5892fe !default;
$mt-action-font-size: rem(12) !default;
$mt-action-font-weight-active: 600 !default;
$mt-action-font-weight: 400 !default;
$mt-action-letter-spacing: rem(0.7) !default;
$mt-action-text-transform: uppercase !default;
$mt-help-color: inherit !default;
$mt-help-color-hover: $mt-action-color-hover !default;
$mt-help-font-size: rem(13) !default;
$mt-help-text-decoration: none !default;

// This follows the SUIT CSS naming conventions: https://git.io/NreGHA
.#{$mt-module-classname} {
  position: relative;
  box-sizing: border-box;
  background: $mt-background;
  border: $mt-border;
  overflow: hidden;

  &-toolbar {
    background: $mt-toolbar-background;
    border-bottom: inherit;
    border-color: $mt-toolbar-border-color;
    color: $mt-toolbar-color;
    height: rem($mt-toolbar-height);
    position: absolute;
    right: 0;
    left: 0;
  }

  &-write {
    border: none;
    outline: none;
    resize: vertical;
  }

  &-write,
  &-preview {
    background: $mt-background;
    min-height: rem(100);
    padding: rem($mt-gutter);
    width: 100%;
  }

  // Adding the padding to the bottom keeps the same height on focus
  &-write {
    padding-bottom: rem($mt-toolbar-height + $mt-gutter);
    padding-top: rem($mt-gutter);
  }

  &-preview,
  &.is-active &-write {
    padding-bottom: rem($mt-gutter);
    padding-top: rem($mt-toolbar-height + $mt-gutter);
  }

  &-action {
    background: $mt-action-background;
    border: $mt-action-border;
    color: $mt-action-color;
    cursor: pointer;
    font-size: $mt-action-font-size;
    font-weight: $mt-action-font-weight;
    height: rem($mt-toolbar-height - $mt-gutter);
    line-height: rem($mt-toolbar-height - $mt-gutter);
    letter-spacing: $mt-action-letter-spacing;
    margin: rem($mt-gutter/2) 0;
    padding: 0 rem($mt-gutter/2);
    text-transform: $mt-action-text-transform;

    // We don't want to add `overflow:hidden` to the toolbar because we may have tooltips, but
    // we don't want the floating help buttton to show below or above the actions. This margin
    // makes it wrap outside the textarea, and we add `overflow:hidden` to the textarea.
    margin-bottom: 9999px;

    &:hover,
    &:focus {
      color: $mt-action-color-hover;
      outline: none;
    }

    &.is-active {
      color: $mt-action-color-active;
      font-weight: $mt-action-font-weight-active;
    }

    &:first-child {
      margin-left: rem($mt-gutter/2);
    }
  }

  &-icon,
  &-help-icon {
    fill: currentColor;
    vertical-align: rem(-3);
  }

  &-delimiter {
    display: inline-block;
    width: rem($mt-gutter/2);
  }

  &-help {
    color: $mt-help-color;
    float: right;
    font-size: $mt-help-font-size;
    line-height: rem($mt-toolbar-height);
    margin: 0 rem($mt-gutter);
    text-decoration: $mt-help-text-decoration;

    &:hover,
    &:focus {
      color: $mt-help-color-hover;
      outline: none;
    }

    &-icon {
      margin-right: rem($mt-gutter/2);
    }
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
